/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f1f5f9;
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar */
header {
  margin-bottom: 10px;
  color: white;
  padding: 20px 0;
}
header nav img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}


header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul {
 
  list-style:none;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav a:hover{
  background-color: #3b82f6;
}

/* Hero */
#hero {
  margin:10px;
  background-color: #1e293b;
  padding: 60px;
  text-align: center;
}

/* About */
#about {
  margin:10px;
 font-size: larger;
  background-color:#1e293b;
  padding: 40px;
  text-align: left;
}
#about:hover {
  background-color:#3b82f6;
}

#about img {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

/* Projects */
#projects {
  margin: 10px;
 font-size: larger;
  padding: 40px;
  background-color:#1e293b;
  text-align: left;
}
#projects:hover {
  background-color:#3b82f6;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  background: rgb(55, 55, 160);
  padding: 20px;
  width: 250px;
  border-radius: 5px;
}

.project img {
  width: 100%;
  border-radius: 5px;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  color: grey;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;

}

/* Skills */
#skills {
 font-size: larger;
  background-color:#1e293b;
  padding: 40px;
  margin: 10px;
  text-align: left;
}
#skills:hover {
  background-color:#3b82f6;
}

#skills ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

/* Contact */
#contact {
  font-size: larger;
  background-color:#1e293b;
  margin: 10px;
  padding: 40px;
  text-align: left;
}
#contact:hover {
  background-color:#3b82f6;
}

/* Footer */
footer {
  background-color: #0f172a;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 5px 0;
  }
}
